.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: red; */
  font-size: 16px;
  line-height: 20px;
}

.modal__content {
  background-color: white;
  /* width: 440px; */
  border: none;
  border-width: 0px;
  border-radius: 20px;
  padding: 28px 28px;
  position: relative;
  width: 440px;
  max-height: 436px;
  /* background-color: coral; */
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  width: 20px;
  /* display: inline-block; */
  /* background-color: aqua; */
  padding: 0;
}

.modal__title {
  /* display: inline-block; */
  /* background-color: fuchsia; */
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  padding-bottom: 24px;
}

.modal__form-label {
  margin: 0 0 0 0;
  /* background-color: red; */
}

.modal__form-text-input {
  width: 100%;
  margin-top: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  border-width: 1px;
  background-color: inherit;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal__form-submit-button {
  width: 124px;
  height: 36px;
  margin-top: 24px;
  margin-bottom: 36px;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
}

.modal__form-submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  animation: 3s ease-in-out 0s 1 normal none running;
}

.modal__form-subtitle {
  margin: 0;
  margin-bottom: 4px;
}

.modal__form-radio-container {
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__form-radio-label {
  display: flex;
  align-items: center;
  gap: 11px;
}

.modal__form-radio-input:checked + .modal__form-radio-label {
  color: black;
}
