.header {
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
}

.header__logo {
    display:flex;
    align-items: center;
    gap: 20px;

}

.header__avatar-logo {
    display:flex;
    align-items: center;
    gap: 20px;
}