.header {
  /* background-color: lightseagreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 40px;
  margin-top: 40px;

  /* Same font for all header components*/
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: center;
  height: 40px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-clothes-button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

.header__user-name {
  line-height: 25px;
}

/* override link default */
.header__user_name-link {
  text-decoration: none;
  color: black;
}

.header__avatar-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__avatar-pic-placeholder {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
