.modal__content-image {
  max-width: 498px;
  max-height: 610px;
  padding: 0px 0px 0px 0px; /* resets*/
  /* background-color: red; */
}

.modal__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__image-caption {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 32px;
  gap: 12px;
  font-size: 20px;
  line-height: 24px;
}

.modal__image-caption-line1 {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
}

.modal__image-delete-button {
  background-color: transparent;
  border: none;
  padding-right: 32px;
  color: red;
  cursor: pointer;
}
