.modal__content-image {
  max-width: 498px;
  max-height: 610px;
  padding: 0px 0px 0px 0px; /* resets*/
  /* background-color: red; */
}

.modal__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__image-caption {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 32px;
  gap: 12px;
  font-size: 20px;
  line-height: 24px;
}
