.sidebar {
  /* background-color: red; */
  width: 345px; /* 229 + 116 */
}

.sidebar__user {
  /* background-color: blueviolet; */
  display: flex;
  height: 56px;
  gap: 16px;
  font-size: 20px;
  width: inherit;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
